@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f9f9f9; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem;
}

/* src/app/globals.css */
.hero-section {
  height: 90vh; /* Tinggi full layar */
  display: flex;
  justify-content: left;
  align-items: center;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
  padding-left: 60px;
}

.hero-section img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Gambar akan pas di layar */
  z-index: -1; /* Membuat gambar di belakang konten */
}

.hero-heading {
  font-size: 6rem;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
}


.hero-paragraph {
  font-size: 1.25rem;
  color: #ffffff;
  padding-bottom: 20px;
}

.profile-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.dropdown-menu {
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  margin: 5px 0;
  cursor: pointer;
  text-align: left;
}

.dropdown-menu li:hover {
  color: #007BFF;
}

.traditional-cake-section {
  margin-bottom: 5rem; /* Atur jarak bawah 5rem, sesuaikan */
}

.card-container {
  padding-bottom: 2rem; /* Sesuaikan padding-bottom */
}


.CallToAction-section {
  background-color: #f7f7f7; /* Ubah sesuai warna yang diinginkan */
  padding: 4rem 2rem; /* Memberikan jarak vertikal */
  display: flex;
  height: 100vh; /* Menyesuaikan dengan layar penuh atau ukuran yang kamu inginkan */
  margin-top: 100px;
  font-family: 'Playfair Display', serif;
  padding-top: 50px
}

.CallToAction-content {
  max-width: 700px; /* Menentukan lebar maksimal konten */
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.CallToAction-heading {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
  text-align: right; /* Tulisan rata kanan */
  display: flex; /* Membuat elemen fleksibel */
  flex-direction: column; /* Agar elemen bisa ditata secara vertikal */
  justify-content: center; /* Menempatkan konten di tengah vertikal */
  align-items: flex-end; /* Menempatkan konten di kanan */
  height: 100%; /* Memenuhi tinggi container */
}

.CallToAction-Login {
  text-align: right;
}

.CallToAction-content a:hover {
  background-color: #ff9e00; /* Hover state dengan warna lebih gelap */
  font-family: 'Playfair Display', serif;
}

/* global.css */

/* Kontainer untuk halaman login dengan dua kolom */
.login-page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #4B2E2A; /* Warna coklat soft */
}

/* Bagian kiri yang menampilkan teks */
.left-content {
  flex: 1;
  padding: 2rem;
  color: white;
}

.left-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

/* Bagian kanan yang berisi kotak login */
.right-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Gaya untuk kotak login */
.login-box {
  background-color: #D8C8A9; /* Warna krem */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 24rem;
  border: 2px solid #D8C8A9;
}

/* Gaya untuk judul login */
.login-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #4B2E2A; /* Warna coklat */
  margin-bottom: 1.5rem;
}

/* Gaya untuk teks lainnya */
.text-coklat {
  color: #4B2E2A; /* Warna coklat */
}

/* Gaya untuk form input */
.input-field {
  width: 100%;
  padding: 1rem;
  border: 1px solid gold;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  color: white;
  margin-bottom: 1.5rem;
}

.input-field:focus {
  outline: none;
  border-color: gold; /* Fokus dengan warna ungu */
  box-shadow: 0 0 0 2px rgba(156, 39, 176, 0.4);
}

/* Gaya untuk tombol login */
.login-btn {
  width: 100%;
  padding: 1rem;
  background-color: gold; /* Warna ungu */
  color: white;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background-color: #4B2E2A; /* Warna ungu lebih gelap */
}

/* Gaya untuk link pendaftaran dan ubah password */
.text-link {
  font-size: 0.875rem;
  color: #4B2E2A; /* Warna coklat */
}

.text-link a {
  color: #4B2E2A; /* Warna ungu */
  text-decoration: none;
}

.text-link a:hover {
  color: #4B2E2A; /* Warna ungu lebih gelap */
}

/* Kontainer utama untuk halaman reset */
.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #4B2E2A; /* Warna coklat soft */
  padding: 2rem;
}

/* Kotak reset */
.reset-box {
  background-color: #D8C8A9; /* Warna krem */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 24rem;
  border: 2px solid #D8C8A9;
  text-align: center;
}

/* Judul reset */
.reset-title {
  font-size: 2rem;
  font-weight: bold;
  color: #4B2E2A; /* Warna coklat */
  margin-bottom: 1rem;
}

/* Deskripsi reset */
.reset-description {
  font-size: 0.875rem;
  color: #4B2E2A; /* Warna coklat */
  margin-bottom: 1.5rem;
}

/* Input field */
.input-field {
  width: 100%;
  padding: 1rem;
  border: 1px solid gold;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  margin-bottom: 1rem;
}

.input-field:focus {
  outline: none;
  border-color: gold;
  box-shadow: 0 0 0 2px rgba(156, 39, 176, 0.4);
}

/* Tombol untuk submit */
.login-btn {
  width: 100%;
  padding: 1rem;
  background-color: gold; /* Warna emas */
  color: white;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background-color: #4B2E2A; /* Warna coklat */
  color: white;
}

/* Pesan error */
.error-message {
  font-size: 0.875rem;
  color: red;
  margin-top: 1rem;
}

.hero-heading, .hero-paragraph {
  opacity: 0; /* Mulai dengan opacity 0 */
  transform: translateX(-100px); /* Mulai dari kiri (di luar layar) */
  animation: slideIn 2s forwards; /* Animasi slideIn selama 2 detik */
}

.hero-heading {
  animation-delay: 0.5s; /* Tunda sedikit untuk heading */
}

.hero-paragraph {
  animation-delay: 0.5s; /* Tunda sedikit untuk paragraf */
}

.hero-image {
  object-fit: cover;
  height: 120vh;
  width: 100%;
  position: absolute;
  top: -355%; /* Menarik gambar ke atas sebanyak 20% dari tinggi gambar */
}


@keyframes slideIn {
  0% {
      opacity: 0;
      transform: translateX(-100px); /* Mulai di luar layar */
  }
  100% {
      opacity: 1;
      transform: translateX(0); /* Akhirnya berada di posisi semula */
  }
}


@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


button {
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0070f3;
}
